:root {
  --color-greeting: #140F07;
  --color-card: rgba(229, 237, 239, 0.7);
  --color-text-card:#000000;
  --btn-primary-color: #84c462;
  --btn-primary-color-hovered: #a5f37b;
  --btn-text-color: #262C59;
  --btn-border-color-hovered: #646cff;
  --btn-select-border: #ccc;
  --btn-select-background: #f0f0f0;
  --btn-select-selected: #007bff;
  --btn-select-text: white;
  --btn-vote-background: #ff9e90;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;
}

body {
  margin: 0;
  background: no-repeat  url('/images/monjes_riendo.jpg') content-box;
  background-size: cover;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

header {
  background-color: var(--color-card);
  width: 100%;
  padding: 0.2rem 0;
}

header > div {
  float: left;
  padding-left: 0.5rem;
}

h1 {
  margin: 10vh 0 9vh 0;
  padding: 0.5rem;
  font-size: 2.5rem;
  color: var(--color-greeting);
  background-color: var(--color-card);
  border-radius: 7px;
  box-shadow: 0 0 10px 3px var(--color-card);
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

.card__joke {
  width: 45%;
  min-height: 20vh;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  border-radius: 15px;
  color: var(--color-text-card);
  background-color: var(--color-card);
  box-shadow: 0 0 10px 3px var(--color-card);
}

.joke {
  margin: 10%;
  height: 100%;
  min-height: 10vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--btn-text-color);
  background-color: var(--btn-primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--btn-border-color-hovered);
  background-color: var(--btn-primary-color-hovered);
}

.vote {
  margin-top: 3vh;
}

.btn__selection {
  margin-top: 1vh;
}

.btn__select, .btn__vote-joke {
  padding: 5px 20px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid var(--btn-select-border);
}

.btn__select {
    background-color: var(--btn-select-background);
}

.btn__select.selected {
    background-color: var(--btn-select-selected);
    color: var(--btn-select-text);
    border-color: var(--btn-select-selected);
    font-weight: bold;
}

.btn__select.selected:hover {
  border-color: var(--btn-border-color-hovered);
  background-color: var(--btn-primary-color-hovered);
  color: var(--color-text-card);
}

.btn__vote-joke {

    background-color: var(--btn-vote-background);

}

@media screen and (min-width: 478px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}
